/* Проценты - относительно размера родителя */

/* .container {
  background-color: blue;
  height: 30px;
}
.children {
  background-color: red;
  height: 100%;
  width: 50%;
} */

/* vh и vw - относительно размеров вьюпорта */
/* .container {
  background-color: blue;
  height: 30vw;
  width: 50vw;
}
.children {
  background-color: red;
  height: 100%;
  width: 50vh;
} */

/* em - размер относительно размера шрифта элемента */
/* .container {
  background-color: blue;
  height: 30px;
  width: 100%;
}
.children {
  background-color: red;
  height: 100%;
  width: 5em;
  font-size: 20px;
} */

/* rem - размер относительно размера корневого шрифта */

/* :root {
  font-size: 20px;
}

.container {
  background-color: blue;
  height: 30px;
  width: 100%;
}
.children {
  background-color: red;
  height: 100%;
  width: 5rem;
} */

.background {
  background-color: brown;
  width: 50vw;
  height: 50vw;
}

.image {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230612/pngtree-images-of-winter-and-white-background-wallpapers-free-download-image_2935697.jpg);
  width: 50%;
  height: 30%;
}
:root {
  font-size: 10px;
}
h2 {
  font-size: 10rem;
}
