p,
h1,
div {
  color: red;
}

#first {
  color: yellow;
}
.second {
  color: blueviolet;
  width: 100px;
  height: 200px;
}
h1,
h2,
h3 {
  width: 200px;
}
#gggg {
  color: blue;
  height: 50px;
}
.tihon {
  height: 100px;
}
