.shelf {
  background-color: brown;
  height: 15px;
}

.books {
  display: flex;
  padding: 15px;
  justify-content: space-between;

  .book {
    height: 80px;
    width: 80px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
nav {
  display: flex;
  justify-content: space-between;
}
.square {
  background-color: black;
  height: 80px;
  width: 80px;
}
.kvadratiki {
  display: flex;
  justify-content: space-between;
}
.column-1,
.column-2,
.column-3 {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.column-1 .square {
  background-color: red;
}
.column-2 .square {
  background-color: yellow;
}
.column-3 .square {
  background-color: green;
}
