body {
  background-color: #00ffaa;
}

.text {
  font-family: Roboto;
  line-height: 2;
  font-size: 30px;
  letter-spacing: 10px;
  word-spacing: 20px;
  background-color: #ffd9005a;
}

.brown {
  color: brown;
}
