.slider {
  background-image: url(https://miguelznunez.github.io/ImageCarousel/Lam0.jpg);
  background-size: contain;
  width: 1330px;
  height: 750px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
