.kj {
  display: flex;
}
.jk {
  order: 1;
}
.ultspammersaitama {
  display: flex;
  .uh {
    flex-grow: 1;
  }
}
.jojo {
  display: flex;
  height: 50px;
  align-items: flex-end;
  .dio {
    align-self: center;
  }
}
