/* 1 */
.bookshelf {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.books {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.shelf {
  background-color: brown;
  height: 20px;
}
.book {
  background-color: green;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* 3 */
.container {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.square {
  width: 50px;
  height: 50px;
  margin: 15px;
}
.red .square {
  background-color: red;
}
.yellow .square {
  background-color: yellow;
}
.blue .square {
  background-color: blue;
}
