.image-1,
.image-2,
.image-3 {
  height: 100px;
  width: 100px;
  background-size: contain;
}

.image-1 {
  background-image: url(https://i.pinimg.com/originals/36/76/99/36769945f37cb48d1cc24ba4dc724d94.jpg);
}
.image-2 {
  background-image: url(https://wallpaper.forfun.com/fetch/4d/4d42b9e87501949015561e292f50b76f.jpeg);
}
.image-3 {
  background-image: url(https://i.pinimg.com/originals/24/ac/ef/24acef8b3a6a45d7239480bcc4ff0193.jpg);
}
.image-1.center.cover {
  background-size: cover;
  background-position: center;
}
.image-2.cover.no-repeat {
  background-size: cover;
  background-repeat: no-repeat;
}
.image-3.no-repeat {
  background-repeat: no-repeat;
}
.name {
  color: brown;
}
.surname {
  color: blueviolet;
}
span.name {
  color: chartreuse;
}
span.surname {
  color: crimson;
}
